/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

/*General styling*/

body,html,*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER styling */

header{
    width: 90%;
    margin: 0px auto;
    background: rgba(31,59,8,1);
    background: -moz-linear-gradient(top, rgba(31,59,8,1) 0%, rgba(98,125,77,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,59,8,1)), color-stop(100%, rgba(98,125,77,1)));
    background: -webkit-linear-gradient(top, rgba(31,59,8,1) 0%, rgba(98,125,77,1) 100%);
    background: -o-linear-gradient(top, rgba(31,59,8,1) 0%, rgba(98,125,77,1) 100%);
    background: -ms-linear-gradient(top, rgba(31,59,8,1) 0%, rgba(98,125,77,1) 100%);
    background: linear-gradient(to bottom, rgba(31,59,8,1) 0%, rgba(98,125,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3b08', endColorstr='#627d4d', GradientType=0 );
}

header nav {
    min-height: 10vh ;
    display: flex;
    width: 90%;
    margin: 0 auto 2em auto;
    align-items: center;
    padding: 1.5rem;
    flex-wrap: wrap;
}
header nav p {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 4em;
    color: white;
    padding: 0.3em;
    width: max-content;
    word-spacing: 0.5em;
}
header nav p::first-letter{Color:red}

/* HEADER -> nav styling */
header nav ul{
    display: flex;
    flex: 1 1 4rem;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

header nav ul li{
   
}

header nav ul li a {
    text-decoration: none;
    display: block;
    padding: 8px;
    margin: 1em;
    color:white;
    height: 1.5em;
  }

  header nav ul li a:hover {
    border-bottom: 2px solid #04222c;
  }

  /* ********************************************* */

  /* Slider container styling */

.slides-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: center;
    flex-wrap: wrap;
}



/* Product card styling */

.product-card{
    max-width:30%;
    background-color: white;
    border: darkgray 2px solid;
    margin: 10px;
    position: relative;

    -webkit-box-shadow: 10px 10px 6px -3px rgba(224,224,224,1);
    -moz-box-shadow: 10px 10px 6px -3px rgba(224,224,224,1);
    box-shadow: 10px 10px 6px -3px rgba(224,224,224,1);


}

.product-card img{
    margin: 10px auto ;
    width: auto;
    height: 150px;

}

h2{
    text-align: center;
    margin: 20px 0 20px 0;
}

.product-card p{
width: 90%;
margin:auto;
}

.product-card>button{
    text-align: center;
}

button.left{
    padding:10px;
    font-weight: bold;
    position:absolute;
    top:30%;
    left:0px;
}

button.right{
    padding:10px;
    font-weight: bold;
    position:absolute;
    top:30%;
    right:0px;
}